/**** Base Layout Styles ****/
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'Karla', sans-serif;
  color: #3d4a60;
}

h1 {
  background: #3B71AC;
  color: white;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  padding: 3% 0;
}

h2 {
  margin-bottom: 0.4%;
}

.sub-heading {
  text-align: center;
  margin-top: 3%;
}

#top-div {
  background: #3B71AC;
  height: 5px;
}

.bottom-div2,
.bottom-div {
  background: #3d4a60;
  height: 2px;
  margin-top: 3px;
}

.container {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
}

.primary,
.secondary {
  display: flex;
  flex-direction: row;
  border: none;
  padding: 0;
  margin: 0;
  max-height: 30%;
}

legend {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0 23px;
}

.secondary legend {
  margin-bottom: 12px;
}

.secondary {
  margin-bottom: 40%;
}

.primary select,
.primary input {
  height: 50px;
  padding: 0 4%;
}

input,
select,
textarea {
  background: #e6eaf2;
  border: none;
  border-radius: 5.3px;
}

input::placeholder {
  text-align: right;
  font-style: italic;
}

.checkboxes {
  margin: 6px 0;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  font-weight: 200;
	font-size: 0.95rem;
  display: inline;
	padding-left: 6px;
}

input[type="checkbox"]:checked + label {
  font-weight: bold;
}

#zipcode {
  height: 50px;
}

#javascript-news,
#radio-plain {
  margin-bottom: 5%;
}

#other-topics {
  margin-bottom: 3%;
}

#html-news,
#css-news,
#javascript-news,
#radio-html,
#radio-plain {
  width: 5%;
}

textarea {
  resize: none;
  width: 100%;
  margin: 10px 0 3%;
  height: 110px;
}

:focus {
    outline: -webkit-focus-ring-color auto 5px;
    transition: 1.1s;
    background: #d4b2ff;
}

button {
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: bold;
  width: 100%;
  padding: 6% 0;
  margin: 6% 0;
  border: none;
  background: #7F95AC;
  color: white;
  cursor: pointer;
}

.copyright {
  text-align: center;
  opacity: 0.8;
}


/**** Mobile Layout ****/

@media (max-width: 767px) {

  h1 {
    font-size: 26px;
    padding: 25px;
  }

  h2 {
    margin-bottom: 10px;
  }

  form {
    margin: 0 3% 150px;
  }

.contact-info label {
  display: block;
  margin: 13px 0;
}

  .container,
  .sub-heading {
    margin: 0 3%;
  }

  #top-div {
    margin-top: 35px;
  }

  .bottom-div {
    margin-bottom: 30px;
  }

  .bottom-div2 {
    margin: 30px 0 25px;
  }

  .primary select,
  .primary input {
    width: 100%;
  }

  .contact-info {
    margin: 10px 0;
  }


  #zipcode {
    width: 50%;
    }

  .secondary span {
    margin: 10px 0 13px;
  }


}

/**** Desktop Layout ****/

@media (min-width: 768px) {

  h2 {
    margin-top: 70px;
  }

  #top-div {
    margin-top: 55px;
  }

  .bottom-div {
    margin-bottom: 50px;
  }

  .bottom-div2 {
    margin: 30px 0 25px;
  }

  .contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3% 0;
    align-content: center;
  }

  .contact-info label {
    margin-top: 12.5px;
    height: 25px;
  }

  .container,
  .sub-heading {
    margin: 0 25%;
  }


  .primary select,
  .primary input {
    width: 66%;

  }

  #zipcode {
    width: 33%;
    margin-right: 33%;
  }

}
