/**** Base Layout Styles ****/
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'Karla', sans-serif;
  color: #3d4a60;
}

h1 {
  background: #3d4a60;
  color: white;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  padding: 3% 0;
}

h2 {
  margin-bottom: 0.4%;
}

.container,
.sub-heading {
  margin: 0 3%;
}

.sub-heading {
  text-align: center;
  margin-top: 3%;
}

#top-div {
  background: #3d4a60;
  height: 5px;
}

.bottom-div2,
.bottom-div {
  background: #3d4a60;
  height: 2px;
  margin-top: 3px;
}

fieldset,
.container {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
}

legend {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0 23px;
}

.primary,
.secondary {
  margin: 0;
  justify-content: flex-end;
  max-height: 30%;
}

select,
input {
  width: 100%;
}

input,
select,
textarea {
  background: #e6eaf2;
  border: none;
  border-radius: 5.3px;
}

input::placeholder {
  text-align: right;
  font-style: italic;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  font-weight: 300;
	font-size: 1.2rem;
  display: inline;
	padding-left: 8px;
}

.checkboxes input,
.checkboxes label {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

#html-news,
#css-news,
#javascript-news,
#radio-html,
#radio-plain {
  width: 5%;
  margin-right: 0;
}

textarea {
  resize: none;
  width: 100%;
}

:focus {
    outline: -webkit-focus-ring-color coral 5px;
    transition: 0.7s;
    background: #dde5ff;
}

button {
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: bold;
  width: 100%;
  max-height: 6%;
  padding: 6% 0;
  margin: 3% 0;
  border: none;
  background: mediumaquamarine;
  color: white;
  cursor: pointer;
}

.copyright {
  text-align: center;
  opacity: 0.8;
}


/**** Mobile Layout ****/

@media (max-width: 767px) {

  h1 {
    font-size: 26px;
    padding: 25px;
  }

  h2 {
    margin-bottom: 10px;
  }

  form {
    margin: 0 3% 150px;
  }

  #top-div {
    margin-top: 35px;
  }

  .bottom-div {
    margin-bottom: 30px;
  }

  .bottom-div2 {
    margin: 30px 0 25px;
  }

  label {
    margin: 15px 0;
  }

  select,
  input {
    height: 50px;
    padding: 0 4%;
  }

  #zipcode {
    height: 40px;
    width: 50%;
  }

  .secondary span {
    margin-bottom: 17px;
  }

  textarea {
    height: 100px;
  }



}

/**** Desktop Layout ****/
