/**** Base Layout Styles ****/

body {
  margin: 0 auto;
  font-family: 'Karla', sans-serif;
  color: #3d4a60;
}

h1 {
  background: #3d4a60;
  color: white;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  padding: 3% 0;
}

h2 {
  margin-bottom: 0.4%;
}

.container,
.sub-heading {
  margin: 0 3%;
}

.sub-heading {
  text-align: center;
  margin-top: 3%;
}

#top-div {
  background: #3d4a60;
  height: 4px;
}

.bottom-div {
  background: #3d4a60;
  height: 1px;
  margin-top: 3px;
}

.container {
  display: flex;
  border: none;
}




/**** Mobile Layout ****/

@media (max-width: 767px) {

  h1 {
    font-size: 26px;
    padding: 25px;
  }

  #top-div {
    margin-top: 8px;
  }


}

/**** Desktop Layout ****/
